@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

.App {
	max-width: 85%;
	margin: 2rem auto;
}

@media (max-width: 700px) {
	.App {
		max-width: 95%;
	}
}
